<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <b>Package Name: </b>{{packageInfo.name}}
    </div>
    <div>
        <b>Description: </b>{{breaklines packageInfo.description}}
    </div>
    <div>
        <b>Depends: </b> 
        {{#each packageInfo.depends}}
            {{#each this}}
                {{#ifNotLast @index ../this.length}}
                    <a href="/package/{{this}}">{{this}}</a> | 
                {{else}}
                    {{#ifNotLast @../index ../../packageInfo.depends.length}}
                        <a href="/package/{{this}}">{{this}}</a>, 
                    {{else}}
                        <a href="/package/{{this}}">{{this}}</a>
                    {{/ifNotLast}}
                {{/ifNotLast}}
            {{/each}}
        {{/each}}
    </div>
    <div>
        <b>Packages that depends on this package: </b>
        {{#each packageInfo.provides}}
            {{#ifNotLast @index ../packageInfo.provides.length}}
                <a href="/package/{{this}}">{{this}}</a>, 
            {{else}}
                <a href="/package/{{this}}">{{this}}</a>
            {{/ifNotLast}}
        {{/each}}
    </div>
</body>

</html>